@import url('./reset.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #eae9e9;
}
.app-bg {
  background-image: url('../src/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 200px;
}
.app-title{
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 33px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3px 2px 6px black;
}
#add-book-btn{
  display: block;
  margin: 20px auto;
  background: #4CAF50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  outline: none;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 970px;
  margin: 0 auto;
}
.book {
  margin: 10px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px 0;
  min-width: 200px;
  cursor: pointer;
  background-color: white;
  border-top-color: green;
  border-top-width: 2px;
}
a  {
  text-decoration: none;
  color: #000000;
}
.book .book-cover{
  text-align: center;
}
.book .book-cover img {
  max-width: 100px;
  opacity: 0.3;
}
.book h1{
  font-size: 27px;
  font-weight: 700;
  margin: 10px 0;
  color: green;
}
.book h2{
  font-size: 15px;
  margin-bottom: 10px;
}
.book h2 span {
  font-weight: 700;
}
.book h3{
  font-size: 14px;
  font-weight: 300;
}


/* Book Details */
.book.book-details {
  border: none;
  max-width: 400px;
  margin: 0 auto;
  cursor: default;
  background: transparent;
}
.content-block-wrapper {
  margin: 30px 0;
  border-top: 1px solid #dddddd;
}
.content-block {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.2;
}
.content-block h4{
  font-size: 17px;
  font-weight: 700;
  color: green;
}
#remove-book{
  background: red;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  outline: none;
}
.removed-message, .added-message{
  background: green;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
}
.book-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* add new book */
.add-book-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}
.add-book-container h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}
.add-book-container input, .add-book-container select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  outline: none;
  margin: 6px 0;
}
.add-book-container select {
  width: 100%;
}

#send-new-book{
  background: #4CAF50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  outline: none;
}
.error{
  display: block;
  min-height: 15px;
  font-size: 12px;
  color: red;
  margin: 5px 0;
}